@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* Header style */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1e201e;
	color: #eeeeee;
	padding-inline: 150px;
	padding-block: 15px;
}

.header h1 {
	font-size: 2.5rem;
	font-style: italic;
}

.header li {
	font-size: 1.3rem;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}

ul {
	display: flex;
	gap: 1.6rem;
}

/* Form style */
.form {
	max-width: 600px;
	margin-inline: auto;
}

.form h2 {
	font-size: 2.5rem;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

form input,
form textarea {
	margin-bottom: 20px;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
}

textarea {
	resize: none;
}

form button {
	font-size: 1.25rem;
	padding-block: 5px;
	border-radius: 10px;
}

/* Notes card */
.card-container {
	margin-inline: 150px;
	margin-block: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.card {
	border: 1px solid red;
	padding: 10px 15px;
	border-radius: 10px;
}

/* Full note */
.full-note {
	max-width: 800px;
	margin-inline: auto;
	margin-block: 50px;
}

.full-note h3 {
	font-size: 2rem;
}

.full-note p {
	font-size: 1.4rem;
}
